@import url(navbar.css);

body{
    background-color: white;
}

.cima-parte{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 30px 0px 30px;
}

.previa{
    display: flex;
    align-items: center;
    width: 100%;

    & #like{
        width: 100%;
        font-size: 70px;

    }

    & .infos{
        display: grid;
        grid-template-columns: max-content max-content;
        grid-gap: 0px 10px;
        width: 70%;

        & .titulos{
            font-weight: bolder;
        }
    }

    & .popularidade{
        & .titulos{
            font-weight: bolder;
        }
        
        & .avaliacao{
            font-weight: bolder;
            font-size: x-large;
        }
        
        & .estrelas{
            display: grid;
            grid-template-columns: min-content min-content min-content;
            font-size: x-large;
        }
        
        & .estrelas .nota{
            font-weight: bolder;
        }
        
        & .titulo-comentarios{
            font-weight: bolder;
            font-size: x-large;
        }
        
        & .n-usuarios *{
            display: inline-block;
        } 
    }
}





/*
.titulos{
    font-weight: bolder;
}

.avaliacao{
    font-weight: bolder;
    font-size: xx-large;
}

.estrelas{
    display: grid;
    grid-template-columns: min-content min-content min-content;
    font-size: x-large;
}

.estrelas .nota{
    font-weight: bolder;
}

.titulo-comentarios{
    font-weight: bolder;
    font-size: x-large;
}

.n-usuarios *{
    display: inline-block;
} */


.papel-de-parede{
    width: 70%;
}

.baixo-parte{
    padding: 0px 30px 0px 30px;
    width: 1325px;
}

.sinopse{
    display: inline-block;
    width: 75%;
    padding: 10px 0px 10px 0px;
}

.adicionar-comentario{
    padding: 10px.0px;
    display: block;
}

.medidor{
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 10px;
}

.comentario{
    padding: 10px.0px;
}

